body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  padding: 10px;
  padding-left: 30px;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  max-height: 31px;
  text-align: left;
}

.header p {
  height: 31px;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.header span {
  position: fixed;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  padding-top: 7px;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.location-info{
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}